/* Fuentes */
@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir-Book.ttf");
}

/* Reseteo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit; /* toman el color del elemento en el que se encuentra el enlace */
}

/* Configuraciones Generales */
html {
    font-size: 20px;
}

@media (max-width: 440px) {
    html {
        font-size: 18px;
    }
}

body {
    font-family: "Avenir", sans-serif;
    color: #67666e;
}

/* Hacemos el img responsive para que se adapte y nunca se desborda de los elementos
que los contiene */
img {
    max-width: 100%;
}

p {
    margin-bottom: 0.8rem;
}

/* Hero */
.hero {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

@keyframes heroAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    12% { opacity: 1; }

    25% { transform: scale(1.2); }

    75% { 
        opacity: 0; 
        transform: scale(1.1);
    }

    100% {
        opacity: 0;
    }
}

.hero div {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    /* configuracion general de las imágenes */
    background-size: cover;
    background-position: center;
    background-repeat: none;
    opacity: 0; /* ocupan el espacio pero no se ven */

    /* Animamos todos los div */
    /* colocamos el nombre de la animación, el tiempo e 
    "infinite" para que se repita de manera continua  */
    animation: heroAnimation 18s infinite;  
}

.hero div:nth-child(1) {
    background-image: url("/img/front1.jpg");
}

.hero div:nth-child(2) {
    background-image: url("/img/front2.jpg");
    animation-delay: 6s;
}

.hero div:nth-child(2) {
    background-image: url("/img/front3.jpg");
    animation-delay: 12s;
}


/* Configuración logo */
.hero .hero-logo {
    /* se posiciona automaticamente en el punto de inicio de su padre (top-left esquina) */
    position: absolute; 
     /* Modificamos esa posición pero sin que deje de ser relativa al padre */
    top: 50%;
    left: 50%;

    /* recordemos que "transform" es necesario para que el elemento quede justamente en el centro */
    transform: translate(-50%, -50%);
    /* le sacamos los efectos */
    animation: none;
    opacity: 1;

    /* definimos tamaño */
    width: 30%; /* al 30% del ancho del dispositivo */
    height: auto;
}

/* Configuracion flechita - Similar a la configuración del logo */
.hero .hero-down {
    position: absolute; 
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: none;
    opacity: 1;
    width: 5%; 
    height: auto;
}

/* Hacemos unos ajustes para qeu se adapte mejor el logo y la flecha down */
@media (max-width: 720px) {
    .hero .hero-logo {
        width: 60%;
    }
    .hero .hero-down {
        width: 15%;
    }
}
@media (max-width: 400px) {
    .hero .hero-logo {
        width: 80%;
    }
    .hero .hero-down {
        width: 20%;
    }
}

/* Header */
header {
    background-color: white;
    box-shadow: 1.5px 1.5px 4px #b3b3b3;
    width: 100%;
    height: 80px; /* es lo que se le suele dar */
    position: fixed;
    top: 0;
    left: 0;

    /* Posicionamos el "header" al frente de todas las imágenes */
    z-index: 1;

    display: flex;
    justify-content: space-between; /* para que se vayan a los extremos */
    align-items: center;
    padding: 0 1em;

    transition: all 600ms ease-in-out;
}

header.transparente {
    background-color: transparent;
    box-shadow: none;
}

header img {
    width: auto;
    height: 60px; /* le damos un poco menos que la barra, que el header que definimos arriba */
}

header nav a {
    color: #67666e;
    font-weight: normal; /* el peso de la letra */
    margin-left: 1em;

    /* para que la función "hover" sea más agradable */
    transition: all 300ms ease-in-out;
}
header.transparente nav a {
    color: rgba(255, 255, 255, 0.9);
}

header nav a.activo, /* para los enlaces con "class" de nombre activo */
header nav a:hover {
    color: #a97c50;
    font-weight: bold; /* el peso de la letra */
}
header.transparente nav a.activo, /* para los enlaces con "class" de nombre activo */
header.transparente nav a:hover {
    color: white;
    font-weight: bold; /* el peso de la letra */
}


/* Botón burger */
#burger {
    position: fixed;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    z-index: 10; 
    display: none; /* eliminamos el botón burger cuando tengamos tamaños convencionales */
}

#burger .barra {
    width: 30px;
    height: 2px;
    margin: 6px;
    background-color: #a97c50;
    transition: all 400ms ease-in-out;
}

#burger.abierto .barra {
    background-color: white;
}

#burger.solid .barra{
    background-color: #a97c50;
}

#burger.abierto .barra.superior {
    transform: translateY(8px) rotateZ(45deg);
}
#burger.abierto .barra.media {
    width: 0;
}
#burger.abierto .barra.inferior {
    transform: translateY(-8px) rotateZ(-45deg);
}

@media (max-width: 620px) {
    #burger {
        display: block; /* cambio el valor de display si la pantalla es menor al tamaño detallado */
    }

    header {
        justify-content: flex-end;
    }

    header nav {
        display: none; /* por este otro lado quitamos el otro menu */
        
    }
}


/* Menú lateral */
.menu {
    width: 360px;
    height: 100vh;
    background-color: #424242;
    position: fixed;
    /* pegado a la ezquina superior izquierda */
    top: 0; 
    left: -360px; /* posición cuando está cerrado el menú, es para que no se vea */
    padding-top: 40px;
    transition: all 700ms ease-in-out;
}

.menu.abierto {
    left: 0px; /* posición cuando está abierto, es para que se vea */
}

.menu nav {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.menu nav a {
    padding: 0.6rem 0;
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.1rem;
    transition: 300ms all ease-in-out;
}

.menu nav a:hover {
    
    color: white;
}

.menu .copyright {
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
}

/* Layout */
.primera {
    margin-top: 100vh;
}

#pr {
    display: block;
    margin-top: -90px;
    padding: 90px;
}

.fila {
    display: flex;
    padding: 2rem 1rem;
}

.col-100 {
    width: 100%;
    padding: 0.5rem 1rem;
}

.col-75 {
    width: 75%;
    padding: 0.5rem 1rem;
}

.col-66 {
    width: 66.66666%;
    padding: 0.5rem 1rem;
}

.col-50 {
    width: 50%;
    padding: 0.5rem 1rem;
}

.col-33 {
    width: 33.33333%;
    padding: 0.5rem 1rem;
}

.col-25 {
    width: 25%;
    padding: 0.5rem 1rem;
}

@media (max-width: 720px) {
    /* se mantiene "display flex" pero pasa a columna con un tamaño menos a 720px */
    .fila {
        flex-direction: column; 
        padding: 1rem 0.5rem;
    }

    .col-75,
    .col-66,
    .col-50,
    .col-33,
    .col-25 {
        width: 100%;
    }
}

.flex-start {
    display: flex;
    justify-content: flex-start; /* eje x */
    align-items: center; /* eje y */
}
.flex-center {
    display: flex;
    justify-content: center; /* eje x */
    align-items: center; /* eje y */
}
.flex-end {
    display: flex;
    justify-content: flex-end; /* eje x */
    align-items: center; /* eje y */
}
.flex-between {
    display: flex;
    justify-content: space-between; /* eje x */
    align-items: center; /* eje y */
}
.flex-around {
    display: flex;
    justify-content: space-around; /* eje x */
    align-items: center; /* eje y */
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center; /* eje x */
    align-items: center; /* eje y  */
}


/* Espaciados y márgenes */
.m-t { /* margin-top */
    margin-top: 1rem;
}
.m-b { /* margin-botton */
    margin-bottom: 1rem;
}
.m-l { /* margin-left */
    margin-left: 1rem;
}
.m-r { /* margin-right */
    margin-right: 0.5rem;
}

.m-t-small { /* margin-top */
    margin-top: 0.5rem;
}
.m-b-small { /* margin-botton */
    margin-bottom: 0.5rem;
}
.m-l-small { /* margin-left */
    margin-left: 0.5rem;
}
.m-r-small { /* margin-right */
    margin-right: 0.5rem;
}


/* Paralax */
.fila.paralax {
    background-image: url("/img/property5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* con esto dejamos la imágen fija */
    padding: 3rem 2rem;
}

.fila.paralax div {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 2rem;
}

.fila.paralax div p {
    font-size: 1.5rem;
    color: #a97c50;
    text-align: center;
}


/* Caja navegación */

.caja-nav img {
    width: 20%;
    margin-bottom: 1em;
}

.caja-nav a {
    border: 1px solid #a97c50;
    background-color: white;
    color: #a97c50;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: all ease-in-out 400ms;
}

.caja-nav a:hover {
    background-color: #a97c50;
    color: white;
}



/* Formulario contacto */
form.contacto {
    width: 50%;
}

@media (max-width: 720px) {
    form.contacto {
        width: 75%;
    }
}
@media (max-width: 440px) {
    form.contacto {
        width: 100%;
    }
}

form.contacto .fila{
    padding: 0.8rem;
}

input {
    border: none;
    border-bottom: 2px solid #a97c50;
    font-size: 1rem;
    padding: 0.5em 1em;
    width: 100%;
}

input:focus { /* cuando hacemo foco en el imput */
    outline: none; /* quitamos las líneas externas */
    border-bottom: 1.5px solid #643e18; /* la línea de abajo la oscurecemos */
}

input.usuario {
    background-image: url("/img/user.svg");
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 2em;
}
input.email {
    background-image: url("/img/mail-bronce.svg");
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 2em;
}

button {
    border: none;
    background-color: #a97c50;
    color: white;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: all ease-in-out 400ms;
}

button:hover {
    background-color: #81501e;
}

input[type="checkbox"] { /* le quitamos la cajita al checkbox */
    display: none;
}

/* usamos el mismo selector que arriba y le sumamos el label::before para justamente
agregar un icono antes de "label" */
input[type="checkbox"] + label::before{ 
    content: url("/img/square.svg");
    position: relative;
    top: 5px;
    padding-right: 5px;
}
input[type="checkbox"]:checked + label::before{ /* le sumamos checked para que sepa cuando está activado o no */
    content: url("/img/check-square.svg");
}

/* Footer */
footer {
    background-color: #424242;
}

footer p {
    color: rgba(255, 255, 255, 0.8);
}

footer p:first-child {
    color: #a97c50;
    font-weight: bold;
}

footer img.rrss {
    height: 48px;
}

footer a {
    font-size: 0.8rem;
    color: #a97c50;
    transition: all ease-in-out 400ms;
}
footer a:hover {
    font-size: 0.8rem;
    color: #704a24
}

footer .copyright {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.8rem;
    text-align: center;
}